<header
  class="site-header sticky-init fixed-header header-4 site-header--right-menu"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-6 order-first">
        <div class="site-brand">
          <a routerLink="/" class="brand_logo">
            <img src="assets/image/main-logo--black.png" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-1 col-6 order-lg-3">
        <div class="header-right-options">
          <div class="single-option">
            <button class="cart-btn single-option_icon slide-down--btn">
              <i class="icon ion-md-cart"></i> <span class="item-count">1</span>
            </button>
            <div class="slide-down--item">
              <app-cart-dropdown></app-cart-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-12 order-lg-2 position-mobile">
        <div class="mean-wrapper">
          <nav class="mean-active">
            <ul class="main-menu">
              <li class="menu-item has-dropdown normal-dropdown">
                <a routerLink="/" class="menu-link"><span>Home</span> </a>
              </li>
              <li class="menu-item has-dropdown normal-dropdown">
                <a routerLink="/product" class="link menu-link"
                  ><span>Products</span><i class="ion-md-arrow-dropdown"></i
                ></a>
                <ul class="dropdown-menu-custom">
                  <li><a routerLink="/product/category/1">Category 1</a></li>
                  <li><a routerLink="/product/category/2">Category 2</a></li>
                  <li><a routerLink="/product/category/3">Category 3</a></li>
                  <li><a routerLink="/product/category/4">Category 4</a></li>
                </ul>
              </li>
              <li class="menu-item has-dropdown normal-dropdown">
                <a routerLink="contact" class="link menu-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
