<header class="dark-header site-header initial-static header-1">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div
        class="col-xl-2 col-lg-3 col-md-3 offset-md-1 offset-lg-0 col-6 order-md-2"
      >
        <!-- Header Logo -->
        <div class="site-brand text-lg-center">
          <a routerLink="/" class="brand_logo">
            <img src="assets/image/main-logo.png" alt="" />
          </a>
        </div>
      </div>

      <div
        class="col-xl-5 col-lg-5 col-md-4 col-12 order-md-1 order-3 mobile-menu"
      >
        <!-- Main Menu Start -->
        <div class="mean-wrapper">
          <nav class="mean-active">
            <ul class="main-menu">
              <li class="menu-item has-dropdown normal-dropdown">
                <a routerLink="/" class="menu-link"><span>Home</span> </a>
              </li>
              <li class="menu-item has-dropdown normal-dropdown">
                <a routerLink="/product" class="link menu-link"
                  ><span>Products</span><i class="ion-md-arrow-dropdown"></i
                ></a>
                <ul class="dropdown-menu-custom">
                  <li><a routerLink="/product/category/1">Category 1</a></li>
                  <li><a routerLink="/product/category/2">Category 2</a></li>
                  <li><a routerLink="/product/category/3">Category 3</a></li>
                  <li><a routerLink="/product/category/4">Category 4</a></li>
                </ul>
              </li>
              <li class="menu-item has-dropdown normal-dropdown">
                <a routerLink="/contact" class="link menu-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-xl-5 col-lg-4 col-md-4 col-6 order-md-3 order-2">
        <!-- Header Right Sidebar -->
        <div class="header-right-options">
          <div class="single-option">
            <button class="cart-btn single-option_icon slide-down--btn">
              <i class="icon ion-md-cart"></i> <span class="item-count">1</span>
            </button>
            <div class="slide-down--item">
              <app-cart-dropdown></app-cart-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
